.errorResponse {
	height: 600px;
}

.popup {
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	overflow-y: auto;
}

/* .signUpContainer {
	border: 1px solid grey;
	margin: auto;
	border-radius: 10px;
	width: 600px;
	height: 500px;
	overflow: hidden;
	box-shadow: 2px 2px 2px lightgrey;
} */

.signUpContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 40px;
	width: 600px;
	height: 300px;
	overflow: hidden;
	background-color: white;
}

.signUpHeader {
	height: 20%;
	width: 100%;
	display: flex;
	/* background-color: #5d9fd2; */
}

.signUpHeader > p {
	height: 20%;
	width: 100%;
	display: flex;
	padding: 10px 0px 0px 20px;
	/* background-color: #5d9fd2; */
}

.signUpHeaderText {
	width: 93%;
	font-size: 3em;
	padding: 10px 0px 0px 20px; /* 20px */
	margin: auto;
}

.signUpHeaderExit {
	width: 7%;
	font-size: 2em;
	justify-content: center;
	margin: auto;
}

.signUpForm {
	height: 70%;
	width: 100%;
}

.signUpFormContainer {
	margin: auto;
	padding: 0px 0px 0px 20px;
}

.signUpFormContainer > p {
	font-size: 1.25em;
}

.signUpButton {
	height: 10%;
	width: 100%;
	margin-top: 10px;
}
