.dropDownList {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	list-style-type: none;
	padding-left: 0%;
	font-size: 20px;
	border: 1px solid grey;
}

.dropDownItem {
	padding-left: 5px;
}

.dropDownItem:hover {

	color: white;
	background-color: #2f9acc;
}

.dropDownBtn {
	background: none;
	border: 1px solid grey;
	height: 35px;
	font-weight: bold;
}

.dropDownBtn, .dropDownItem, .dropDownList {
	width: 240px;
	font-size: 20px;
}