.eventListContainer {
	justify-content: center;
}

.eventList {
	display: flex;
	flex-flow: row wrap;
	align-items: space-around;
	align-content: space-between;
	justify-content: space-around;
}

.eventListScroller {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
	display: none;
}
