* {
	color: white;
	text-align: center;
}


.element {
	font-size: 1.5em;
	margin: auto;
	width: 20%;
	background-color: #4eb0e7;
	border-radius: 5px;
	border-style: double;
	border-color: #1c648c;
}

.table {
	text-align: center;
}


.headings {
	background-color: #4eb0e7;
	width:45%;
	padding-top: 25px;
	padding-bottom: 25px;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	border-style: double;
	border-color: #1c648c;
}


.col1 {
	text-align: center;
	width: 50%;
}

.col2 {
	
	vertical-align: top;
	text-align: center;
	width: 50%;
}

.textbox {
	border-radius: 5px;
	color: black;
	text-align: left;
	vertical-align: 1em;
}

.textWrapper {
	padding-top: 1em;
}

.submit {
	font-size: 2em;
	font-weight: bold;
	border-radius: 5px;
	border-style: double;
	border-color: #1c648c;
	background-color: #2f9acc;
	width: 25%;
	
}

.submitWrapper {
	padding-top: 3em;
}