input, textarea {
	font-size: 20px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 40px;
	width: 700px;
}

#eventName {
	
}

#eventDate, #eventTags, #eventVenue {
	padding-left: 45px;
}

#eventPhoto {
	flex-grow: 10;
}

#eventDescription {

}