.eventCard {
	border: 1px solid grey;
	border-radius: 10px;
	width: 400px;
	height: 400px;
	overflow: hidden;
	box-shadow: 2px 2px 2px lightgrey;
}

.eventTopImage {
	/*border-bottom: 1px solid black;*/
	width: 100%;
	height: 50%;
}

.eventTopImage > div {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bottomInfo {
	display: flex;
	width: 100%;
	height: 50%;
}

.eventInfoLeft {
	height: 100%;
	width: 70%;
}

.eventInfoRight {
	height: 100%;
	width: 30%;
}

.eventTitle {
	padding: 10px;
	display: flex;
	/*align-items: center;*/
	flex-direction: column;
	height: 75%;
	width: 100%;
}

.eventTitle > h1 {
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
}

.eventTitle > p {
	font-size: 1.3em;
}

.eventOrganization {
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
	/*background-color: orange;*/
	padding: 0 10px 0 10px;
	height: 25%;
	width: 100%;
}

.orgLogo > img {
	max-width: 30px;
	max-height: 100%;
}

.orgTitle {
	display: flex;
	align-items: center;
	padding-left: 15px;
	font-size: 1.25em;
	height: 100%;
	width: 80%;
}

.eventDate {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/*background-color: yellow;*/
	height: 75%;
	width: 100%;
}

.eventDate > h1 {
	font-size: 5em;
	margin: 0;
	color: #cc612f;

	/*old colour --> #dc5d67*/
}

.eventDate > h3 {
	font-size: 2.5em;
	margin: 0;
}

.eventDate > p {
	font-size: 1em;
	margin-top: 5px;
}

.eventButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	/*background-color: #7fff00; /*#66023c;*/
	height: 25%;
	width: 100%;
}

.eventCardButton {
	background-color: #2f9acc;
    border: 2px solid #1c648c;
    border-radius: 4px;
    font-size: 1.25em;
    color: #fff;
}

.eventPageBanner {
    width: 100vw;
    height: 400px;
    transform: translateX(-7vw);
    background-image: url(http://4.bp.blogspot.com/-u7zTZmjR_hY/UqjOIYAIvxI/AAAAAAAAB0M/yQAeKXIfn2g/s1600/FEATURE003.JPG);
    background-size: cover;
    background-position: 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* filter: grayscale(100%); */
}

.eventPageBanner h1 {
    margin: 0;
    font-size: 4em;
     /* color: #fff; */
     color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #fff;
}