.profileChangeContainer {
	height: 100%;
	border: 1px solid grey;
}

.leftContainer {
	width: 60%;
	justify-content: flex-start;
}

.rightContainer {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.profileChangeContainer, .leftContainer, .rightContainer, .publicSelector {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.profileChangeContainer, .leftContainer, .publicSelector {
	flex-direction: row;
}

.formLeftElement {
	width: 45%;
}

.formRightElement, .publicSelector, .biography {
	width: 90%;
}

.formLeftElement, .formRightElement, .publicSelector, .biography, .formTitle{
	padding-left: 20px;
}

.formLeftElement, .formRightElement, .publicSelector,.biography  {
	height: 15%;
	margin-top: 0px;
}

.radioText {
	width: 20%;
}

.checkboxItem {
	width: 5%;
	text-align: center;
}

.biography {
	height: 25%;
	margin-bottom: 300px;
}

.formTitle {
	height: 10%;
	margin-bottom: 0px;
}

.formTitle, .radioText, h2 {
	text-align: left;
}

.profileChangeContainer, .formTitle, h2, textarea, input {
	width: 100%;
}

input {
	padding-left: 0px;
	margin-left: 0px;
}