.profileContainer {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	padding-top: 5%;
}

.profileUserInfo {
	height: 100%;
	width: 25%;
}

.profileData {
	height: 100%;
	width: 75%;
	text-align: center;
}

.profileElement {
	font-size: 24px;
	padding: 5px 10px 5px 10px;
	text-align: center;
	border: 1px solid grey;
}

.profileUserImage {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('http://placehold.it/350x150');
}

li {
	list-style-type: none;
	display: inline;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:action {
	color: black;
}