.popup {
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 1000 !important;
	background-color: rgba(0,0,0, 0.5);
	overflow-y: auto;
}

.container {
	display: grid;
	grid-template-areas: 
		"head"
		"body"
		"body"
		"body"
		"body"
		"foot";
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 40px;
	width: 45%;
	background-color: white;
	overflow-y: auto;
}

.createEventHeader {
	grid-area: head;
	padding-top: 15px;
	border-radius: 5px;
	background-color: #2f9acc;
	color: #fff;
	display: grid;
	grid-template-columns: 90% 10%; 
}

.createEventHeaderText {
	grid-column-start: 1;
	grid-column-end: 2;
}

.createEventHeaderExit {
	grid-column-start: 2;
	grid-column-end: 3;
	cursor: pointer;
}

.createEventBody {
	grid-area: body;
	display: grid;
	grid-template-areas: 
		"a a a a a a a a a a"
		"b b b b b b b b b b"
		"c c c c d d d d d d"
		"c c c c d d d d d d"
		"e e e e e . f f f f"
		"g g g g g . h h h h"
		"i i i i i . j j j j"
		"k k k k . . l l l l";
}

#eventImport {
	grid-area: a;
}

#eventName {
	grid-area: b;
}

#eventImage {
	grid-area: c;
}

#eventDescription {
	grid-area: d;
}

#eventCategory {
	grid-area: e;
}

#eventTags {
	grid-area: f;
}

#eventRecurrence {
	grid-area: g;
}

#eventVenue {
	grid-area: h;
}

#eventCost {
	grid-area: i;
}

#eventDate {
	grid-area: j;
}

#eventStart {
	grid-area: k;
}

#eventEnd {
	grid-area: l;
}

.createEventFooter {
	grid-area: foot;
	display: grid;
	padding-top: 20px;
	grid-template-areas: 
		"prev submit";
}

#eventPreview {
	grid-area: prev;
	align-items: center;
}

#eventSubmit {
	grid-area: submit;
	align-items: center;
}

::-webkit-scrollbar {
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: #a5b4ce;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #32ace5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #2f9acc;
}
