input, textarea, #eventCost {
	font-size: 20px;
}

input {
	margin-left: 5px;
	width: 220px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 40px;
	width: 700px;
	background-color: white;
}

#eventName, #eventPhoto, #submitDate {
	flex-grow: 1;
}


/*All display elements*/
#eventName, #eventPhoto, #eventDescription, #eventCategory, #eventCost, #eventOrg, #eventVenue, #submitDate, #eventTags, #eventStart, #eventEnd, #eventDate{
	padding-left: 45px;
}

#submitForm {
	padding-top: 45px;
	font-weight: bold;
	flex-grow: 10;
	text-align: center;
}

#submitForm > .landingButton {
	width: 400px !important;	
}

#submitDate {
	text-align: center;
}

.popup {
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 1000 !important;
	background-color: rgba(0,0,0, 0.5);
	overflow-y: auto;
}

.createEventHeader {
	height: 20%;
 	width: 100%;
 	display: flex;
}

.createEventHeader > p {
	height: 20%;
 	width: 100%;
 	display: flex;
 	padding: 10px 0px 0px 20px;
}
.createEventHeaderText {
	width: 93%;
 	font-size: 3em;
 	padding: 10px 0px 0px 20px; /* 20px */
 	margin: auto;
}

.createEventHeaderExit {
	width: 7%;
 	font-size: 2em;
 	justify-content: center;
 	cursor: pointer;
 	margin: auto;
}