.venueListContainer {
	justify-content: center;
	/*background-color: orange;*/
}

.venueList {
	display: flex;
	flex-flow: row wrap;
	align-items: space-around;
	align-content: space-between;
	justify-content: space-between;
}