.header {
	display: flex;
	width: 100%;
	height: 78px;
	justify-content:space-around;
	background-color: black;
	opacity: .78;
	padding: inherit;
	/*position: fixed;
	top:1px;
	z-index: 5;*/ 
}

.navbarLeftBox {
	display: flex;
	height: 100%;
	padding-left: 7vw;
	font-family:"Arial Black",cursive;
	font-variant: small-caps;
	font-size: 30px;
}

.navbarLogo {
	height: 70px;
	width: 200px;
	background-size:contain;
	background-image: url(../../../img/navLogo.png)
}


.navbarLeftLinks {
	display: flex;
	justify-content: space-between;
}

.navbarLeftLinks a {
	text-decoration: none !important;
}

.navbarLink {
	height: 100%;
	text-align: center;
	color: white;
	line-height: 70px;
	font-size: 1.25em;
	padding: 0px 15px 0px 15px;
	cursor: pointer;
}

.navbarLink:hover {
	text-shadow: 4px 4px 6px gray;
	background-color: saddlebrown;
	column-gap: normal;
	border-bottom: 2px solid #cc612f;
}

.navbarRightBox {
	display: flex;
	height: 100%;
	padding-right: 7vw;
	font-size: 18px;
	font-family: 'broadway', Times, cursive;
}

.navbarRightBox a {
	text-decoration: none !important;

}
